* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(128deg, rgba(249, 148, 89, 0.786) 0%, rgba(245,244,240,0.3794468470982143) 21%);
  padding: 1.5em;
  display: grid;
  grid-template-columns: 250px 5fr;
  column-gap: 4em;
}
.sidebar-section {
  background-color: #ffffff69;
  grid-column: 1;
  grid-row: span 2;
  border-radius: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu i{
  padding-right: 0.5em;
}
.logo img{
  height: 100px;
  width: 100px;
}
ul{
  list-style: none;
}

.hero-section {
  background-color: #bbdac7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.9em;
  grid-column: 2;

}
.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  color: black;
}
.hero-section h1 {
  font-family: "Rampart One", cursive;
  font-size: 5rem;
  font-weight: 500;
}
.hero-section h3 {
  font-size: 1.9rem;
  font-weight: 100;
}
.hero-section button {
  padding: 0.3em 2em;
  font-size: 1.4rem;
  border-radius: 0.4em;
  background-color: black;
  color: #f6e1e1;
  justify-self: flex-start;
  cursor: pointer;
}
.feature-section {
  grid-column: 2;
  padding-top: 2.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 2em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2em;
}
.first-feature-cont {
  grid-column: 1/2;
  background-color: #ffece1;
  width: 90%;
  border-radius: 0.9em;
  padding: 1em;
  cursor: pointer;
}

.first-feature-cont:hover,
.second-feature-cont:hover,
.third-feature-cont:hover {
  box-shadow: 1px 1px 8px 2px black;
}
span {
  margin-right: 0.5em;
}
.first-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-content-box,
.second-content-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.second-feature-cont {
  background-color: #c4eff2;
}
.third-feature-cont {
  background-color: #ffe9a7;
}
.third-feature-cont,
.second-feature-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border-top-left-radius: 9em;
  cursor: pointer;
  width: 70%;
}

.cucumbersalad-img {
  height: 250px;
  width: 250px;
  margin-left: -100px;
}
.tunacasserole-img {
  height: 200px;
  width: 200px;
  margin-left: -100px;
}
