* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.index-page,
.other-page {
background-color: #bbdac78e;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 250px 5fr;
  column-gap: 4em;
  letter-spacing: 1px;
}
.sidebar-section {
  background-color: #f3edde80;
  grid-column: 1;
  grid-row: span 2;
  border-radius: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-img {
  height: 100px;
  width: 100px;
}
ul {
  list-style: none;
}
.menu li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 4em;
  padding: 0 0.5em;
}
.menu li:hover {
  background-color: black;
  color: white;
  border-radius: 0.6em;
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.menu a{
  text-decoration: none;
  color: black;
}
.hero-section {
  background-color: #bbdac7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.9em;
  grid-column: 2;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  color: black;
}
.hero-section h1 {
  font-family: "Rampart One", cursive;
  font-size: 5rem;
  font-weight: 500;
}
.hero-section h3 {
  font-size: 1.9rem;
  font-weight: 100;
}
.hero-section button {
  padding: 0.3em 2em;
  font-size: 1.4rem;
  border-radius: 0.4em;
  background-color: black;
  color: #f6e1e1;
  justify-self: flex-start;
  cursor: pointer;
}
.hero-section button:hover {
  background-color: white;
  color: black;
}
.feature-section {
  grid-column: 2;
  padding-top: 2.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.9em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2em;
}
.first-feature-cont {
  grid-column: 1/2;
  background-color: #ffece1;
  width: 90%;
  border-radius: 0.9em;
  padding: 1em;
  cursor: pointer;
}

.first-feature-cont:hover,
.second-feature-cont:hover,
.third-feature-cont:hover {
  box-shadow: 1px 1px 8px 2px rgba(128, 128, 128, 0.364);
}
.index-page span {
  margin-right: 0.5em;
}
.first-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-content-box,
.second-content-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.second-feature-cont {
  background-color: #c4eff2;
}
.third-feature-cont {
  background-color: #ffe9a7;
}
.third-feature-cont,
.second-feature-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border-top-left-radius: 9em;
  cursor: pointer;
  width: 70%;
}

.cucumbersalad-img {
  height: 250px;
  width: 250px;
  margin-left: -100px;
}
.tunacasserole-img {
  height: 200px;
  width: 200px;
  margin-left: -100px;
}

.recipe-page-title {
  font-size: 3em;
}

/* /////////////////////////////other pages styles//////////////////////////// */

.other-page {
  grid-template-columns: 250px 350px 1fr;
  gap: 2em;
  font-size: larger;
  line-height: 2em;
background-color: #bbdac78e;

}
.recipe-img {
  grid-column: 2;
  grid-row: 1;
  border-radius: 0.9em;
  height: 350px;
  width: 350px;
}
.other-page h1 {
  font-size: 2rem;
  grid-column: 3;
}
.description {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}
.description p {
  padding-top: 3em;
}
.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
